 ul.submenu {
	list-style: outside none none;
	margin-left: 0px;
    padding-left: 0px;
}

.img-centered img, .img-centered iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

code, tt {
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
  }
  
  pre code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
  }
  
  .highlight pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
  }
  
  pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
  }
  
  pre code, pre tt {
	background-color: transparent;
	border: none;
  }

  .composition {
	  background-image: url("../images/contact_us2.png");
	  background-position: center;
	  background-size: contain;
	  border-radius: 10px;
	  min-width: 300px;
  }

  .header {
	background-image: url("../images/connections_header.png");
	background-attachment: fixed;
  }

  .sended {
	  background-image: url(../images/sended.png);
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: 50%;
	  min-height: 500px;
  }